<verka-base-page></verka-base-page>

<div class="about_section">
  <div class="container">
    <div class="row">
      <div class="about_heading">
        <h1>ABOUT ME</h1>
        <span class="about_image"> <i class="fa fa-user" aria-hidden="true"></i></span>
      </div>
      <div class="about_text">
        <p><img src="../../../assets/images/profile.jpeg" style="width: 250px; height: 250px;" class="img-rounded" />
        </p>
        <p>I am currently pursuing Software Engineering Technology at Centennial College. I have a Master's degree in
          Software Systems and Bachelor's degree in Computer Science Engineering from Guru Nanak Dev University, India
          and
          Punjab Technical University, India respectively. </p>
        <p>I am taking these courses in this semester:</p>
        <ul>

          Emerging Technologies<br>
          Data Structure and Algorithm<br>
          System Integration<br>
          Game Programming<br>
          Software Development 2<br>
        </ul>
        <p>I am proficient in Java, Java EE, Android Application Development,
          ASP.NET, C#, MySQL, MS Access, Oracle, NodeJS, ExpressJS, MongoDB.</p>
        <p>I do well in pressure situations and have excellent problem solving skills.</p>
        <p> Here is the link to my Resume:</p>
        <p class="lead"><i class="far fa-file-pdf"></i><a href="../../../assets/images/Technical_Resume.pdf">
            Resume</a>
        </p>
      </div>
    </div>
  </div>
</div>
