<verka-base-page></verka-base-page>

<a routerLink="/"></a>
<div class="about_section">
  <div class="container">
    <div class="row">
      <div class="about_heading">
        <h1 class="display-2">Maninderpal Singh</h1>
        <span class="about_image"><i class="fas fa-save" aria-hidden="true"></i></span>

      </div>
      <div class="about_text">
        <p class="lead">
          "To have fun in my journey through life and learn from my mistakes"
        </p>
        <p>
          Welcome to my Career Portfolio website. My site contains description
          of my projects that I made during my Bachelor's and Master's. <br />I
          am currently pursuing Software Engineering Technology in Centennial
          College will be graduating in April 2019.
        </p>
      </div>
    </div>
  </div>
</div>
