<verka-base-page></verka-base-page>

<div class="contact_section">
  <div class="container">
    <div class="row">
      <div class="contact_heading">
        <h1 class="display-2">CONTACT</h1>
        <span class="about_image"><i class="fa fa-comment" aria-hidden="true"></i></span>
      </div>
      <div class="col-sm-4">
        <div class="contact_text">
          <h4>Maninderpal Singh</h4>
          <p>94 Trailridge Cres, Scarborough<br />
            M1E 4C5, Canada</p>
        </div>
        <div class="contact_number">
          <h2>+1 (437) 995-9772</h2>
          <p>mpsv1992@gmail.com</p>
        </div>
        <div class="card">
          <h5 class="card-header alert-success">Secure</h5>
          <div class="card-body"><a routerLink="contact-list" class="btn btn-primary"><i class="fas fa-users fa-lg">
              </i> Contact
              List</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="contact_text1">
            <h4>Contact me</h4>
          </div>
          <div class="form_image">
            <form>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="name" placeholder="Enter name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group ">
                  <textarea class="form-control" placeholder="Enter your message" style="height: 150px;"></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-default color">Submit</button>
                <!--      </form>
          </div>
      </div>
    </div>
  </div>
</div>
</div> -->
