<verka-base-page></verka-base-page>

<div class="project_sec">
  <div class="container">
    <div class="row">
      <div class="project_heading">
        <h1>PROJECTS</h1>
        <span class="about_image"><i class="fa fa-tasks" aria-hidden="true"></i></span>
      </div>

      <div class="project-cover">
        <div class="col-sm-12">
          <div class="col-sm-8">
            <div class="projects_text">
              <h2><u>Shift Scheduler</u></h2>
              <h6>Languages used:</h6>
              <p>Android, Java, C#</p>
              <h6>IDE:</h6>
              <p>Android Studio, Microsoft Visual Studio 2017</p>
              <h6>Description:</h6>
              <p>An android application used by employees of a company to view and set their schedule. The employer has
                their own software made in C# to set and upload shifts to the android application. All the data about
                shift and employee information is stored in Amazon Web Service cloud database. Specific algorithm was
                made to select the most eligible employee for a specific shift.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="col-sm-8">
            <div class="projects_text">
              <h2><u>Online Mobile Shopping</u></h2>
              <h6>Languages used:</h6>
              <p>Android, Java</p>
              <h6>IDE:</h6>
              <p>Android Studio</p>
              <h6>Description:</h6>
              <p>An android application for a mobile company which sells its products online. The user can see details
                about the mobile phone they want to purchase. User has option to add multiple items in cart and can
                check out later by using their debit or credit card. User was also sent SMS message about the
                confirmation.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="col-sm-8">
            <div class="projects_text">
              <h2><u>Active Sync</u></h2>
              <h6>Languages used:</h6>
              <p>Android, Java</p>
              <h6>IDE:</h6>
              <p>Eclipse</p>
              <h6>Description:</h6>
              <p>This android application gave the user option to directly connect to their Laptops or Personal
                Computers to transfer data between the phone and computer. It also gave user option to stream any music
                or video files directly on their phone without downloading it first.</p>
            </div>
          </div>
        </div>


        <div class="col-sm-12">
          <div class="col-sm-8">
            <div class="projects_text">
              <h2><u>Database Migration Tool</u></h2>
              <h6>Languages used:</h6>
              <p>Core Java, MySQL, Microsoft Access, Oracle</p>
              <h6>IDE:</h6>
              <p>Netbeans, Microsoft Access, MySQL Workbench, Oracle.</p>
              <h6>Description:</h6>
              <p>Worked 2 months on the projects in which three databases were used and data between these databases
                were migrated from one database to another using basic core java principles. The main idea of the
                project was to have backup of the data in case of any system failure.</p>
            </div>
          </div>
        </div>







      </div>



    </div>
  </div>
</div>
